---
import Layout from "../layouts/Layout.astro";
import InstallAndCustom from "../components/sections/InstallAndCustom.astro";
import Hero from "../components/sections/Hero.astro";
import CreateRepoLocal from "../components/sections/CreateRepoLocal.astro";
import RollbackProyect from "../components/sections/RollbackProyect.astro";
import DeleteAndRecoverCommit from "../components/sections/DeleteAndRecoverCommit.astro";
---

<Layout title="Bienvenido a la Guia de git">
  <!-- <Navbar /> -->
  <Hero />
  <main class="px-52 mx-auto min-w-0 max-w-screen-xl">
    <InstallAndCustom />
    <CreateRepoLocal />
    <RollbackProyect />
    <DeleteAndRecoverCommit />
  </main>
</Layout>
